.navbar {
  background-color: #ffffff;
  // padding: 30px 0px 24px;
  padding-top: 16.4px;
  padding-bottom: 18.4px;
  box-shadow: 0px 3px 6px var(--main-dark-color) 0d;
  position: relative;
  .grid__container {
    @media screen and (max-width: 1100px) {
      justify-content: space-between;
    }

    .navbar__logo {
      text-decoration: none;
      img {
        width: 51.34px;
        height: 45.22px;
        margin-right: 9.5px;

        @media screen and (max-width: 992px) {
          width: 38.5px;
          height: 33.14px;
        }
      }

      h1 {
        color: var(--main-green-color);
        font-size: 23px;
        font-family: var(--font-bold);
        margin: 0;

        @media screen and (max-width: 992px) {
          font-size: 14px;
        }
      }
    }

    .navbar__links {
      @media screen and (max-width: 1100px) {
        display: none;
      }

      .links__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        position: relative;

        .links {
          margin: auto;
          @media screen and (max-width: 1100px) {
            margin: 0;
          }

          ul {
            padding-left: 15px;
            padding-right: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .link__item {
              position: relative;
              &:not(:last-child) {
                margin-right: 19px;
              }
              a {
                font-size: 16px;
                font-family: var(--font-medium);
                color: var(--main-dark-color);
                transition: all 0.3s ease-in-out;

                &:hover {
                  color: var(--main-green-color);
                }
              }

              .menuLinks__container {
                position: absolute;
                top: 100px;
                left: 0;
                display: none;
                li {
                  a {
                    color: var(--main-dark-color);
                    font-family: var(--font-medium);

                    &:hover {
                      color: var(--main-green-color);
                    }
                  }
                }
              }

              &:hover {
                .menuLinks__container {
                  display: block;
                }

                &::before {
                  content: "";
                  width: 0%;
                  height: 10px;
                  background-color: red;
                  position: absolute;
                  bottom: -10px;
                  left: 0;

                  // opacity: 0;
                  // transition: opacity 1.2s ease-out;

                  -moz-transition: all 0.3s ease;
                  -ms-transition: all 0.3s ease;
                  -o-transition: all 0.3s ease;
                  transition: all 0.3s ease;
                }

                &:hover:before {
                  // opacity: 1;
                  width: 50%;
                }
              }
            }

            .active {
              a {
                color: var(--main-dark-color);
              }
            }
          }
        }

        .auth_methods {
          display: flex;

          @media screen and (max-width: 1100px) {
            display: none;
          }

          .lang {
            display: flex;
            // align-items: center;
            margin-right: 16px;

            @media screen and (max-width: 992px) {
              margin-right: 0px;
              width: 100%;
            }

            .img_container {
              margin-right: 4px;
              img {
                width: 20.7px;
                height: 12.88px;
              }
            }

            .lang_type {
              margin-right: 4px;

              span {
                font-size: 16px;
                font-family: var(--gilroy-font-medium);
                color: var(--main-dark-color);
              }
            }

            .icon_container {
              img {
                width: 14.84px;
                height: 8.49px;
              }
            }
          }

          .search_btn,
          .login_btn {
            a {
              text-decoration: none;
              color: var(--main-dark-color);
              display: flex;

              .icon_container {
                margin-right: 7.2px;
                @media screen and (max-width: 992px) {
                  margin-right: 0px;
                }
                img {
                  width: 18.89px;
                  height: 18.89px;
                }
              }

              button {
                background-color: transparent;
                border: none;
                color: var(--black-color);
                font-size: 16px;
                font-family: var(--gilroy-font-medium);
                color: var(--main-dark-color);
                transition: all 0.3s ease-in-out;
              }

              &:hover {
                button {
                  color: #00465c;
                }
              }
            }
          }

          .search_btn {
            margin-right: 16px;

            @media screen and (max-width: 992px) {
              margin-right: 0;
            }
          }
        }
      }
    }

    .icons_container {
      display: flex;
      align-items: center;
      position: relative;
      @media screen and (min-width: 1100px) {
        display: none;
      }
      .menu,
      .search,
      .notifications {
        &:not(:last-child) {
          margin-right: 33px;
        }

        .icon_container {
          width: 22.66px;
          height: 22.66px;

          svg {
            color: var(--main-green-color);
            width: 100%;
            height: 100%;
          }
        }
      }

      .search {
        .icon_container {
          width: 22.66px;
          height: 22.66px;

          svg {
            width: 20px;
            height: 20px;
          }
        }
      }

      .notifications {
        .icon_container {
          width: 22.66px;
          height: 22.66px;

          svg {
            width: 25px;
            height: 25px;
          }
        }
      }
      .menu {
        .icon_container {
          width: 22.66px;
          height: 22.66px;

          svg {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}

.side_bar {
  background-color: var(--sec-white-color);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  width: 35%;
  width: 100%;
  box-shadow: 0 0 20px hsl(0deg 0% 66% / 15%);
  z-index: 99;

  padding-top: 70px;
  padding-right: 33.5px;
  padding-left: 33.5px;
  padding-bottom: 50px;

  max-height: calc(150vh - 50px);
  overflow-y: auto;

  .side_bar_container {
    position: relative;
    .close {
      position: absolute;
      top: -62px;
      right: 0;

      svg {
        width: 30px;
        height: 30px;
        color: var(--main-dark-color);
      }
    }

    .links_container {
      a {
        display: flex;
        align-items: center;
        width: 100%;
        .icon_container {
          align-self: flex-start;
          margin-right: 37px;
          svg {
            color: var(--main-dark-color);
            font-size: 26px;
          }
        }

        .btn_container {
          p {
            color: var(--main-dark-color);
            font-family: var(--font-medium);
            font-size: 18px;
            font-weight: bold;
          }
        }
      }

      .categories_container {
        margin-top: 40px;
        .category {
          display: flex;
          flex-direction: column;
          .title {
            display: flex;
            align-items: center;
            margin-bottom: 14px;
            margin-top: 14px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h4 {
              font-size: 18px;
              font-family: var(--font-bold);
              color: var(--main-dark-color);
              font-weight: bold;
              a {
                font-size: 18px;
                font-family: var(--font-bold);
                color: var(--main-dark-color);
                // margin-right: 56px;
                font-weight: bold;
              }
            }

            .icon_container {
              svg {
                color: var(--main-dark-color);
                font-size: 28px;
                transition: all 0.3s ease;
              }
              margin-right: 20px;
              &.active {
                svg {
                  transform: rotate(180deg);
                }
              }
            }
          }

          .category_links {
            a {
              color: var(--main-dark-color);
              font-size: 15px;
              font-family: var(--font-medium);
              font-weight: bold;
              &:not(:last-child) {
                margin-bottom: 14px;
              }
              position: relative;

              &.active::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -8px;
                background-color: var(--main-cyan-color);
                width: 24px;
                height: 4px;
              }
            }

            .special_links {
              a {
                color: #000000;
                font-family: var(--font-light);
                font-weight: 100;
                font-size: 17px;
                font-weight: 500;
                letter-spacing: 0;
                position: relative;
                &.active::after {
                  content: "";
                  position: absolute;
                  left: 0;
                  bottom: -8px;
                  background-color: var(--main-cyan-color);
                  width: 24px;
                  height: 4px;
                }
              }
            }

            .lang {
              align-items: center;
              justify-content: flex-start;
              margin-top: 35px;
              margin-bottom: 50px;
              .img_container {
              }
              .lang_type {
                margin-right: 5px;
                margin-left: 4px;

                span {
                  font-size: 16px;
                  color: var(--main-dark-color);
                  font-family: var(--font-medium);
                }
              }
              .icon_container {
                svg {
                  color: var(--main-dark-color);
                  font-size: 30px;
                }
              }
            }
          }
        }
      }
    }
  }
}

#sec_nav {
  background-color: var(--main-green-color);
  padding-top: 18px;
  padding-bottom: 19px;
  box-shadow: 0 0 0 16%;
  margin-top: 80px;

  @media screen and (max-width: 1100px) {
    margin-top: 67px;
  }

  h2 {
    font-size: 16px;
    color: var(--main-white-color);
    font-family: var(--font-regular);
  }
}
