#tags_filter {
  margin-top: 53px;
  @media screen and (max-width: 992px) {
    margin-top: 26px;
  }

  .filter {
    width: 693px;
    height: 56px;
    margin-bottom: 65px;

    @media screen and (max-width: 750px) {
      width: 100%;
      margin-bottom: 0px;
    }

    select {
      width: 100%;
      height: 100%;
      background-color: rgb(197 223 220 / 30%);
      border-radius: 5px;
      border: none;
      padding: 16px 24px;
      font-size: 18px;
      font-family: var(--gilroy-font-medium);
      option {
        color: var(--main-dark-color);
        font-size: 18px;
        font-family: var(--gilroy-font-medium);
      }
    }

    label {
      color: var(--main-dark-color);
      font-size: 18px;
      font-family: var(--quickstand-font);
      font-weight: var(--font-bold);
    }
  }
}

.sections_container {
  display: flex;
  flex-direction: column;

  #blogs_sec {
    .title {
      h6 {
        color: var(--main-dark-color);
        font-family: var(--quickstand-font);
        font-weight: var(--font-sem-bold);
        font-size: 28px;
        color: var(--main-gray-color);

        @media screen and (max-width: 992px) {
          font-weight: var(--font-bold);
          font-size: 18px;
          font-weight: bold;
          margin-top: 16px;
          margin-bottom: 16px;
          // margin-left: 80px;
        }
      }
    }

    .boxes_container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;

      @media screen and (max-width: 1100px) {
        justify-content: space-around;
      }
      @media screen and (max-width: 750px) {
        align-items: flex-start;
        justify-content: center;
      }
      @media screen and (max-width: 450px) {
        justify-content: flex-start;
      }

      .box {
        width: 344px;
        margin-top: 35px;
        box-shadow: 0px 3px 2px #00000029;
        border-radius: 5px;
        padding-bottom: 25px;
        // margin-right: 86.11px;

        @media screen and (max-width: 992px) {
          width: 316px;
          // height: 590px;
        }

        @media screen and (max-width: 450px) {
          width: 343px;
          &:first-child {
            margin-top: 0px;
          }
        }

        .img_container {
          width: 100%;
          height: 191px;
          border-radius: 5px 5px 0px 0px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .box_title {
          margin-top: 16px;
          margin-bottom: 8px;
          padding-right: 22px;
          padding-left: 15px;
          h5 {
            margin: 0;
            color: var(--main-green-color);
            font-size: 18px;
            font-family: var(--open-sans-font);
            font-weight: var(--font-bold);
          }
        }

        .desc {
          padding-right: 22px;
          padding-left: 15px;
          margin-bottom: 22px;

          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 4;
          white-space: pre-wrap;
          -webkit-line-clamp: 4;

          p {
            margin: 0;
            color: var(--main-dark-color);
            font-family: var(--open-sans-font);
            font-weight: var(--font-regular);
            letter-spacing: 0px;
          }
        }

        .author_container {
          padding-right: 22px;
          padding-left: 15px;
          display: flex;
          align-items: center;
          margin-top: 16px;
          margin-bottom: 10px;
          .img_container {
            width: 46px;
            height: 46px;
            margin-right: 21.5px;
            img {
              width: 100%;
              height: 100%;
            }
          }

          .author_data {
            .user_name {
              color: var(--main-dark-color);
              font-size: 18px;
              letter-spacing: 0px;

              font-family: var(--open-sans-font);
              font-weight: var(--font-bold);

              @media screen and (max-width: 992px) {
                font-size: 17px;
              }
            }
            .user_job {
              color: var(--main-gray-color);
              font-size: 16px;
              font-family: var(--open-sans-font);
              font-weight: var(--font-regular);
              letter-spacing: 0px;

              @media screen and (max-width: 992px) {
                font-size: 15px;
              }
            }
          }
        }

        .btns_container {
          display: flex;
          align-items: flex-end;
          justify-content: flex-start;
          width: 100%;
          padding-right: 22px;
          padding-left: 15px;

          .trans_btn,
          .turk_btn {
            @media screen and (max-width: 992px) {
              margin-top: 31px;
            }
            button {
              width: 122px;
              height: 40px;
              background-color: var(--light-green-color);
              border: 2px solid var(--main-green-color);
              border-radius: 22px;
              color: var(--main-green-color);

              text-align: center;
              font-size: 16px;
              font-weight: var(--font-sem-bold);
              font-family: var(--quickstand-font);
              transition: all 0.3s ease-in-out;
              cursor: pointer;

              &:hover {
                border: 2px solid var(--main-green-color);
                background-color: var(--main-green-color);
                color: #fafafa;
              }
            }
          }
          .trans_btn {
            margin-right: 16px;
          }
        }
      }
    }
  }
}
