section#most_popular {
  background-color: #eef5f5;
  padding-top: 66.26px;
  overflow: hidden;

  .section_container {
    display: flex;
    flex-direction: column;
    .title {
      margin-bottom: 34.04px;
      h2 {
        font-size: 34px;
        font-weight: 500;
        font-family: var(--font-sem-bold);
      }
    }

    .navigation {
      margin-bottom: 40px;
      .header {
        display: flex;
        flex-direction: row;
        .treatment,
        .doctors,
        .clinic {
          position: relative;

          &::after {
            position: absolute;
            content: "";
            bottom: 0;
            left: -50px;
            width: 0px;
            height: 4px;
            background-color: var(--main-green-color);
            z-index: 99;
            transform: all 0.3s ease;
          }

          &:not(:last-child) {
            margin-right: 32px;
          }

          h6 {
            button {
              font-weight: 500;
              font-family: var(--font-bold);
              font-size: 20px;
              cursor: pointer;

              color: var(--main-dark-color);
              background-color: transparent;
              border: none;
              margin-bottom: 13px;
            }
          }

          &.active {
            h6 {
              button {
                font-weight: bold;
                font-family: var(--font-bold);
                font-size: 25px;

                background-color: transparent;
                border: none;
                margin-bottom: 13px;
              }
            }
            &::after {
              position: absolute;
              content: "";
              bottom: 0;
              left: 0px;
              width: 100%;
              height: 4px;
              background-color: var(--main-green-color);
              z-index: 99;
              transition: all 0.3s ease;
            }
          }
        }
      }

      hr {
        border-color: #e7edec !important;
        background-color: #e7edec !important;
      }
    }

    .content {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      // justify-content: space-between;
      .text_container {
        width: 259px;
        margin-right: 40px;

        .desc {
          margin-bottom: 53.48px;
          p {
            color: var(--main-dark-color);
            font-size: 17px;
            font-weight: 600;
            font-family: var(--font-sem-bold);
            letter-spacing: 0;
          }
        }
        .btn_container {
          a {
            button {
              width: 204px;
              height: 56px;

              background-color: var(--main-green-color);
              color: var(--main-white-color);
              font-size: 18px;
              font-weight: bold;
              font-family: var(--font-bold);
              border-radius: 5px;
              border: 1px solid var(--main-green-color);
              cursor: pointer;
              transition: all 0.3s ease;

              &:hover {
                background-color: var(--main-white-color);
                color: var(--main-green-color);
                border-color: var(--main-green-color);
              }
            }
          }
        }
      }

      .slider_container {
        width: 913px;
        .treatment,
        .doctors,
        .clinic {
          width: 100%;
          .box {
            width: 344px;
            border-radius: 5px;
            box-shadow: 0px 3px 2px #00000029;
            background-color: var(--main-white-color);
            margin-right: 26px;
            display: flex;
            flex-direction: column;

            position: relative;

            .img_container {
              width: 100%;
              position: relative;

              img {
                width: 100%;
                height: 191px;
              }

              .verified {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;

                background-color: var(--sec-cyan-color);

                padding-left: 24px;
                padding-top: 8px;
                padding-bottom: 8px;

                display: flex;
                align-items: center;
                svg {
                  font-size: 14px;
                  margin-right: 7.98px;
                }

                p {
                  font-weight: 600;
                  font-size: 14px;

                  color: var(--main-dark-color);
                }
              }
            }

            .box_text_container {
              padding-left: 24px;
              padding-right: 22px;
              padding-bottom: 24px;
              padding-top: 16px;

              .title {
                margin-bottom: 8px;
                h5 {
                  font-size: 18px;
                  font-weight: bold;
                  font-family: var(--font-bold);
                  color: var(--main-green-color);
                }
              }

              .name {
                h5 {
                  color: var(--main-dark-color);
                  font-size: 18px;
                  font-weight: bold;
                  font-family: var(--font-bold);
                }
              }

              .job_title {
                h6 {
                  color: var(--main-dark-color);
                  font-size: 16px;
                  font-weight: 500;
                }
              }

              .type {
              }

              .rating {
                margin-top: 6px;
                display: flex;
                align-items: center;

                .reviews_num {
                  margin-left: 12.34px;
                  font-size: 14px;
                  color: var(--main-dark-color);
                }
              }

              .desc {
                margin-top: 16px;

                p {
                  font-size: 16px;
                  font-weight: 400;
                  font-family: var(--font-medium);
                  color: var(--main-dark-color);
                }
              }

              .location {
                display: flex;
                align-items: center;
                margin-top: 6px;
                svg {
                  margin-right: 4.96px;
                  font-size: 18px;
                  color: var(--main-dark-color);
                }
                p {
                  color: var(--main-dark-color);
                  font-size: 16px;
                  font-weight: 400;
                }
              }

              .patient_num {
                margin-top: 8.86px;
              }

              .price {
                h6 {
                  color: var(--main-dark-color);
                  font-size: 16px;
                  font-weight: 600;
                }
              }

              #price {
                margin-top: 27px;
                width: 150px;
                color: var(--main-dark-color);

                p {
                  font-size: 16px;
                  font-weight: 400;
                }

                span {
                  font-weight: bold;
                }
              }

              .founded,
              .yearly_patient {
                display: flex;
                span {
                  margin-right: 8px;
                  font-weight: bold;
                  font-size: 18px;
                  color: var(--main-dark-color);
                }
                p {
                  color: var(--main-dark-color);
                  font-size: 18px;
                }
              }

              .patient_num,
              .experience {
                display: flex;
                p {
                  font-size: 15px;
                }

                span {
                  margin-right: 8px;
                  font-size: 17px;
                  font-weight: bold;
                }
              }

              .employess {
                display: flex;
                color: var(--main-dark-color);
                span {
                  margin-right: 8px;
                  font-weight: bold;
                  font-size: 18px;
                }

                p {
                  font-size: 16px;
                }
              }

              .btn_container {
                text-align: right;

                a {
                  text-decoration: underline;
                  color: #002845;
                  font-size: 18px;
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }
  }
}
